# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
zimbot/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
coverage.xml
htmlcov/

# Documentation
docs/_build/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Logs
*.log
