aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
APScheduler==3.6.3
atomicwrites==1.4.1
attrs==24.2.0
cachetools==4.2.2
certifi==2024.8.30
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
Flask==2.2.3
flask-swagger-ui==3.36.0
frozenlist==1.4.1
grpcio==1.67.0
grpcio-tools==1.67.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
# Editable install with no version control (livekit==0.17.5)
-e /c/ZimbeeCoin/Zimbot/livekit/livekit-rtc
-e git+https://github.com/ZimbeeCoin/Zimbot.git@0c8cebd532293b1677dcb173076cbdebc16fada8#egg=livekit_api&subdirectory=livekit/livekit_api
-e git+https://github.com/ZimbeeCoin/Zimbot.git@0c8cebd532293b1677dcb173076cbdebc16fada8#egg=livekit_protocol&subdirectory=livekit/livekit_protocol
-e git+https://github.com/ZimbeeCoin/Zimbot.git@0c8cebd532293b1677dcb173076cbdebc16fada8#egg=livekit_rtc&subdirectory=livekit/livekit_rtc
MarkupSafe==3.0.1
multidict==6.1.0
openai==0.27.0
packaging==24.1
pluggy==1.5.0
propcache==0.2.0
protobuf==5.27.2
py==1.11.0
PyJWT==2.9.0
pytest==7.1.2
python-dotenv==1.0.0
python-telegram-bot==13.15
pytz==2024.2
redis==4.5.4
requests==2.28.1
sentry-sdk==1.10.1
setuptools==75.1.0
six==1.16.0
stripe==4.0.0
tomli==2.0.2
tornado==6.1
tqdm==4.66.5
types-protobuf==4.25.0.20240417
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.20
Werkzeug==3.0.4
yarl==1.15.3
